/* Custom properties/variables  */
:root {
	--main-white: #ededed;
	--main-dark: #001021;
	--grey: #39393a;
	--light-grey: #515152;
	--red: #F05D5E;
	--orange: #fa7e61;
	--yellow: #F0AD6A;
	--green: #6BC791;
	--blue: #508aa8;
	--purple: #797596;
	--transition-fast: 50ms;
	--transition-slow: 350ms;
}

/* Base reset */
*,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	scroll-behavior: smooth;
}

/* Base styles */

body {
	font-family: "Montserrat", serif;
	font-weight: 400;
	line-height: 1.4;
	color: var(--main-white);
	font-size: 16px;
	background-color: var(--main-dark);
}

h1,
h2 {
	font-family: "Silkscreen", sans-serif;
	font-weight: 400;
	text-align: center;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 3rem;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--main-white);
}

img {
	display: block;
	width: 100%;
}

p a {
	color: var(--blue);
}



th {
	text-align: right;
}

table {
	line-height: 2rem;
	border-spacing: 5px 0;
}

table .table-head{
	font-size: 1.25rem;
	text-align: center;
}

table .table-subhead {
	font-style: italic;
	text-align: center;
}

hr {
	border: 0;
	height: 2px;
	background: var(--light-grey);
	width: 70%;
	margin: 1rem auto;
}

form label {
	display: block;
}
form input {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid var(--light-grey);
	border-radius: 5px;
	margin-bottom: 1rem;
}
form textarea {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid var(--light-grey);
	border-radius: 5px;
	resize: vertical;
}

form button {
	background: var(--blue);
	color: var(--main-white);
	border: none;
	padding: 1rem 2rem;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.25rem;
	font-weight: 600;
}


/* nav */

.nav {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--grey);
	box-shadow: 0 2px 0 var(--blue);
	z-index: 10;
}

.nav-list {
	display: flex;
	margin-right: 2rem;
}

@media (max-width: 696px) {
	.nav {
		justify-content: center;
	}

	h1 {
		font-size: 3rem;
	}

	.nav-list {
		margin: 0 1rem;
	}
}

.nav-list a {
	display: block;
	font-size: 1.25rem;
	padding: 0.5rem;
}

.nav-list a:hover {
	/* background: var(--main-white); */
	color: var(--blue);
	transition: all 0.3s ease-out;
}

/* home section */

.home-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-width: 360px;
	height: 100vh;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%230D0D0D'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23070707'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg transform=''%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform=''%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

h1 span,
h2 span {
	font-family: Montserrat;
	font-size: 2rem;
	vertical-align: middle;
	text-align: center;
}

.tag,
.code {
	font-family: "Source Code Pro";
}

.home-section #name,
.projects-section #name,
.about-section #name,
.contact-section #name {
	font-family: Silkscreen;
}

.home-section #name {
	font-size: 5rem;
}

.projects-section #name,
.about-section #name,
.contact-section #name {
	font-size: 3rem;
}

.tag,
.code {
	opacity: 0;
	transition: all 0.3s ease-out;
}

p:hover .tag,
p:hover .code,
h1:hover .code,
h1:hover .tag,
h3:hover .tag,
h3:hover .code,
h2:hover .tag,
h2:hover .code {
	opacity: 1;
	transition: all 0.3s ease-out;
}

p .tag,
h1 .tag,
h2 .tag,
h3 .tag {
	color: var(--blue);
}

p .code,
h1 .code,
h2 .code,
h3 .code {
	color: var(--orange);
}

.home-section > p {
	font-size: 1.25rem;
	color: var(--grey);
	line-height: 2rem;
	font-weight: 500;
	text-align: center;
	color: var(--main-white);
}

.home-section .role {
	color: #d0d0d0;
}

.tooltip-top {
	/* Modify size here: */
	--size: 200px;
	--padding: 1em;
	position: relative;
	width: calc(var(--size) - var(--padding));
	height: calc(var(--size) / 2);
	background: #333;
	padding: var(--padding);
	margin: 2em;
	transform: 0;
	box-shadow: none;
	transition: box-shadow var(--transition-fast) ease-out;
}

.tooltip-top:hover {
	box-shadow: -3px 3px 0 rgba(0, 0, 0, 1), -5px 5px 0 var(--orange);
}

.tooltip-top:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background: #333;
	height: 16px;
	width: 16px;
}

.thick-arrow-down {
	width: 25px;
	height: 25px;
	border: 10px solid var(--grey);
	border-left: 0;
	border-top: 0;
	transform: rotate(45deg);
	box-shadow: none;
	transition: box-shadow var(--transition-slow)
		cubic-bezier(0.28, 0.64, 0.16, 1.62);
	cursor: pointer;
}

.thick-arrow-down:hover {
	border: 10px solid var(--orange);
	border-left: 0;
	border-top: 0;
	box-shadow: 10px 10px 0 var(--grey), 20px 20px 0 var(--blue);
	transform: scale(1.1) rotate(45deg);
}

#bio {
	max-width: 33vw;
	min-width: 420px;
}

h1,
h2,
h3 {
	min-width: 360px;
	white-space: nowrap;
}

/* Projects section */

.projects-section {
	text-align: center;
	padding: 6rem 0rem;
	background: var(--main-dark);
}

.projects-section-header {
	max-width: 960px;
	margin: 0 auto 6rem auto;
}

.projects-grid {
	display: grid;
	grid-template-areas:
		"project1 project1 project1"
		"project2 project2 project2"
		"project3 project3 project3"
		"project4 project5 project6";
	gap: 6rem;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	margin-bottom: 6rem;
}

.project-tile,
.project-tile-rev {
	display: grid;
	background: white;
	color: var(--main-white);
	box-shadow: none;
	transform: 0;
	transition: box-shadow var(--transition-fast) ease-out;
}

.project-tile-rev {
	grid-template-areas: "description image";
}

.project-tile {
	grid-template-areas: "image description";
}

.project-tile:hover,
.project-tile-rev:hover {
	box-shadow: -3px 3px 0 var(--main-dark), -5px 5px 0 var(--orange);
}

#project-tile-one {
	grid-area: project1;
}

#project-tile-two {
	grid-area: project2;
}

#project-tile-three {
	grid-area: project3;
}

.project-description {
	grid-area: description;
	font-size: 1.25rem;
	text-align: left;
	padding: 2rem;
	background: var(--grey);
}

.project-image {
	grid-area: image;
	width: 320px;
}

.project-title {
	font-family: Silkscreen;
	font-weight: 400;
	font-size: 2.25rem;
	transition: background-color var(--transition-fast) ease-out,
		color var(--transition-fast) ease-out;
}

.project-title:hover {
	background-color: var(--blue);
	color: var(--grey);
	cursor: pointer;
}

/* ABOUT SECTION */
.about-section {
	padding: 6rem 0rem;
	color: var(--main-white);
	height: 100vh;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1026%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1027)'%3e%3c/rect%3e%3cpath d='M1440 0L1141.93 0L1440 134.9z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1141.93 0L1440 134.9L1440 317.48L702.7800000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M702.78 0L1440 317.48L1440 326.79L583.15 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M583.15 0L1440 326.79L1440 489.24L321.14 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L444.68 560L0 310.52z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 310.52L444.68 560L778.84 560L0 286.22999999999996z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 286.23L778.84 560L924.88 560L0 129.79000000000002z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 129.79000000000002L924.88 560L1067.11 560L0 103.45000000000002z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1026'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1027'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(57%2c 57%2c 58%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
	background-attachment: fixed;
	background-size: cover;
}

.about-section h4 {
	font-family: Silkscreen;
	font-weight: normal;
}

.about-grid {
	display: grid;
	grid-template-areas: "profile stats";
	grid-template-columns: 1fr 2fr;
	width: 100%;
	gap: 1rem;
	max-width: 960px;
	margin: 0 auto;
	margin-bottom: 6rem;
}

.about-section h2 {
	font-family: Silkscreen;
}

.contact-section h2 {
	font-family: Silkscreen;
}

.profile {
	grid-area: profile;
	border: 4px solid var(--grey);
	padding: 2rem;
	font-size: 1em;
	box-shadow:-3px 3px 0 #172d44, -5px 5px 0 var(--blue);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/rect%3e%3cpath d='M1440 0L1037.77 0L1440 172.1z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1037.77 0L1440 172.1L1440 344.29999999999995L693.21 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M693.21 0L1440 344.29999999999995L1440 354.80999999999995L539.5600000000001 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M539.5600000000001 0L1440 354.80999999999995L1440 488.9799999999999L309.82000000000005 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L101.97 560L0 423.44z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 423.44L101.97 560L752.69 560L0 373.65999999999997z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 373.65999999999997L752.69 560L791.59 560L0 292.96z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 292.96L791.59 560L1242.41 560L0 172.28999999999996z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1025'%3e%3cstop stop-color='rgba(57%2c 57%2c 58%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(57%2c 57%2c 58%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
	background-size: cover;
}

.profile-avatar {
	padding: 2rem;
}

.profile-avatar img {
	width: 150px;
	height: 150px;
}

.att-title {
	font-weight: bold;
}

.stats {
	grid-area: stats;
	padding: 2rem;
	box-shadow:-3px 3px 0 #172d44, -5px 5px 0 var(--blue);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/rect%3e%3cpath d='M1440 0L1037.77 0L1440 172.1z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1037.77 0L1440 172.1L1440 344.29999999999995L693.21 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M693.21 0L1440 344.29999999999995L1440 354.80999999999995L539.5600000000001 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M539.5600000000001 0L1440 354.80999999999995L1440 488.9799999999999L309.82000000000005 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L101.97 560L0 423.44z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 423.44L101.97 560L752.69 560L0 373.65999999999997z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 373.65999999999997L752.69 560L791.59 560L0 292.96z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 292.96L791.59 560L1242.41 560L0 172.28999999999996z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1025'%3e%3cstop stop-color='rgba(57%2c 57%2c 58%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(57%2c 57%2c 58%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
	background-size: cover;
}

.stat {
	margin-bottom: 0.5rem;
}

.stat-container {
	width: 100%;
	background: var(--light-grey);
	border: 4px solid var(--light-grey)
}

.stat-container:hover {
	border: 4px solid var(--main-dark);
}

.stat-bar {
	height: 1rem;
	line-height: 1rem;
	text-align: right;
	padding: 0.5rem;
	font-family: Silkscreen;
	color: var(--light-grey);
}

.stat-bar-html {
	width: 80%;
	background-color: var(--green);
}

.stat-bar-css {
	width: 70%;
	background-color: var(--green);
}

.stat-bar-js {
	width: 60%;
	background-color: var(--yellow);
}

.stat-bar-react {
	width: 20%;
	background-color: var(--orange);
}

.stat-bar-ps {
	width: 90%;
	background-color: var(--blue);
}

.stat-title {
	font-family: Silkscreen;
	font-weight: normal;
	display: flex;
	justify-content: space-between;
}

.stat-title-name {
	text-align: left;
}
.stat-title-value {
	text-align: right;
}


.btn {
	padding: 1rem 1rem;
	border-radius: 2px;
	min-width: fit-content;
}

.btn:hover {
	background-color: var(--blue);
}

/* Contact section */

.contact-section {
	color: var(--main-white);
	padding: 6rem 0;
	height: 100vh;
	background: #121212;
}

.contact-container {
	max-width: 600px;
	margin: 0 auto;
	padding: 2rem;
	background: #333;
	display: flex;
	justify-content: space-between;
	border: 4px solid var(--grey);
	align-items: center;
	flex-direction: column-reverse;
	box-shadow: -3px 3px 0px #111,
		-5px 5px 0px var(--blue);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/rect%3e%3cpath d='M1440 0L1037.77 0L1440 172.1z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1037.77 0L1440 172.1L1440 344.29999999999995L693.21 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M693.21 0L1440 344.29999999999995L1440 354.80999999999995L539.5600000000001 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M539.5600000000001 0L1440 354.80999999999995L1440 488.9799999999999L309.82000000000005 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L101.97 560L0 423.44z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 423.44L101.97 560L752.69 560L0 373.65999999999997z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 373.65999999999997L752.69 560L791.59 560L0 292.96z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 292.96L791.59 560L1242.41 560L0 172.28999999999996z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1025'%3e%3cstop stop-color='rgba(57%2c 57%2c 58%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(57%2c 57%2c 58%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
	background-size: cover;
}

.contact-form {
	max-width: 660px;
}

.social-links {
	display: flex;
	background: var(--grey);
	justify-content: center;
	align-items: center;
	margin: 2rem;
}

/* Footer */

footer {
	font-weight: 300;
	display: flex;
	justify-content: space-evenly;
	padding: 2rem;
	background: var(--main-gray);
	border-top: 4px solid var(--main-green);
}

footer > p {
	margin: 2rem;
}

footer i {
	vertical-align: middle;
}

@media (max-width: 460px) {
	footer {
		flex-direction: column;
		text-align: center;
	}
}

/* links specific */

.links-page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#links-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	margin: 2rem;
	padding: 2rem;
	width: 40vw;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/rect%3e%3cpath d='M1440 0L1037.77 0L1440 172.1z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1037.77 0L1440 172.1L1440 344.29999999999995L693.21 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M693.21 0L1440 344.29999999999995L1440 354.80999999999995L539.5600000000001 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M539.5600000000001 0L1440 354.80999999999995L1440 488.9799999999999L309.82000000000005 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L101.97 560L0 423.44z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 423.44L101.97 560L752.69 560L0 373.65999999999997z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 373.65999999999997L752.69 560L791.59 560L0 292.96z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 292.96L791.59 560L1242.41 560L0 172.28999999999996z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1025'%3e%3cstop stop-color='rgba(57%2c 57%2c 58%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(57%2c 57%2c 58%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
	background-size: cover;
	box-shadow: -3px 3px 0 var(--main-dark), -5px 5px 0 var(--blue);
}

.link-header {
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.link-header img {
	max-height: 200px;
	max-width: 200px;
}

.link {
	background: var(--light-grey);
	padding: 1rem;
	width: 100%;
	text-align: center;
}

.link:hover {
	box-shadow: -3px 3px 0 var(--grey), -5px 5px 0px var(--blue);
}

.link > a {
	color: var(--main-white);
	text-decoration: none;
}
